<h1 appHighlight>Directives</h1>

<p appHighlight>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius voluptatibus excepturi doloribus corrupti
  inventore laboriosam at officiis, voluptate illo dignissimos, ipsum veniam aut, explicabo culpa maiores eum
  repellendus assumenda fuga? Amet debitis et impedit autem?</p>
<hr>
<router-outlet></router-outlet>
<hr>


<ng-template [ngIf]="true">
  <div>
    Simple div 1

  </div>
  <div>
    Simple div 2

  </div>
  <div>
    Simple div 3

  </div>
</ng-template>

<button type="" (click)="toggle()">Toggle Btn</button>
<!-- CUSTOM DIRECTIVES -->
<div *appStructuralDirective="isShown">
  Structural Directives - Usage 1
</div>

<ng-template [appStructuralDirective]="isShown">
  Structural Directive - Usage 2
</ng-template>